### Name: Abhinav Kumar
### PRN: 21070126006
### Batch: AIML A1

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('Housing.csv')

In [2]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
df.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [4]:
df = pd.get_dummies(df ,columns = ['mainroad', 'guestroom','basement','hotwaterheating','airconditioning','prefarea'], drop_first=True)
df = pd.get_dummies(df ,columns = ['furnishingstatus'])

In [5]:
df.head()

,price,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,1,0,0,0,1,1,1,0,0
1,12250000,8960,4,4,4,3,1,0,0,0,1,0,1,0,0
2,12250000,9960,3,2,2,2,1,0,1,0,0,1,0,1,0
3,12215000,7500,4,2,2,3,1,0,1,0,1,1,1,0,0
4,11410000,7420,4,1,2,2,1,1,1,0,1,0,1,0,0

In [6]:
X = df.drop(['price'], axis=1).copy()
y = df['price'].copy()

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()
model_lr.fit(X_train, y_train)

LinearRegression()

In [10]:
model_lr.score(X_train, y_train)

0.6931989807027312

In [11]:
model_lr.score(X_test, y_test)

0.6463350878895877